/* @media (max-width: 768px) {
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}

@media (min-width: 1260px) {
  .h1,
  h1 {
    font-size: 3rem;
  }
  .h2,
  h2 {
    font-size: 2.5rem;
  }
  .h3,
  h3 {
    font-size: 2.3rem;
  }
  .h4,
  h4 {
    font-size: 2rem;
  }
}
@media (min-width: 1500px) {
} */
.dpn {
  display: none;
}

html,
html.dark {
  background-color: var(--dark-2);
}

html.dark {
  --dark-2: #191d1e;
  --dark-3: #272a31;
  --bg-1: #323c4a;
  --bg-2: #32353b;
  --bg-3: #191d1e;
  --bg-4: #22242a;
  --bg-5: #000;
  --bg-2-dark: #32353e;
  --bs-dark: #212529;
  --bs-gray-dark: #2b2d3038;
  --light-when-dark: #fff;
  --dark-when-light: #222;
  --dark-icon-color: #222;
  --navbar-button-color: #292d35;
  --border-bottom-color: #292d35;
  --bg-navbar-backdrop: rgba(25, 29, 30, 0.6);
  --dark-border-none: none;
  --bg-gradient-dark: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bg-gradient-5-dark: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, #464646 100%);
  --bg-gradient-6: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, #464646 100%);
  --bg-list: #3b4046;
  --bs-disabled: rgb(47 48 51);
  --box-shadow-dark: 0 0 1px 1px rgb(63, 74, 87);
  --box-shadow-dark-1: -1px 0 1px 0.2px #3b3f4d;
  --box-shadow-dark-2: 0 0 1px 0.5px rgb(72 89 108);
  --list-box-shadow-dark: -2px 2px 20px 2px rgba(59, 153, 252, 0.9);
  --bg-gradient-dark-4: linear-gradient(rgb(99 101 102), rgb(50 53 59)) padding-box padding-box,
    linear-gradient(rgb(94, 187, 255) 0%, rgb(161, 116, 255) 40%) border-box border-box;
  --bg-hover-dark: #3b4a58;
  --bg-white-dark-1: #32353b;
  --bg-white-dark-2: #1d1d27ed;
  --dark-color: #d8d2d2;
  --navbar-button-hovered-color: #2e4a8d;
  --box-shadow-inset-dark: inset 1px 1px 1px #999, 1px 1px 3px #272323;
  --color-dark-active: #ffa287 !important;
  --color-dark-link: #ec7e00 !important;
}

/*   */
html.dark .overlayDark::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  visibility: visible;
  background: #ff000005;
  backdrop-filter: brightness(0.9);
  transition: all 0.25s;
}
html.dark .videoPlayer:hover .overlayDark::before {
  inset: 0px 0 92px 0;
}
html.dark .famousBrand:hover ~ .overlayDark::before {
  inset: 0px 0 0px 0;
}
