/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

.bridgeTop::before,
.bridgeRight::before,
.bridgeBottom::before,
.bridgeLeft::before {
  content: "";
  position: absolute;
  display: block;
  border: 10px solid;
}

.bridgeTop::before {
  top: 0;
  left: 50%;
  transform: translate(-50%, -99%);
  border-bottom-color: var(--bs-gray-700);
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}

.bridgeRight::before {
  top: 50%;
  right: 0;
  transform: translate(99%, -50%);
  border-left-color: var(--bs-gray-700);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
.bridgeBottom::before {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 99%);
  border-bottom-color: transparent;
  border-top-color: var(--bs-gray-700);
  border-right-color: transparent;
  border-left-color: transparent;
}
.bridgeLeft::before {
  top: 50%;
  left: 0;
  transform: translate(-99%, -50%);
  border-bottom-color: transparent;
  border-top-color: transparent;
  border-right-color: var(--bs-gray-700);
  border-left-color: transparent;
}

.dropDownWrap {
  position: absolute;
  background: var(--bg-gradient-4);
  border: 1px solid transparent;
  border-radius: 8px;
  font-family: var(--font-family) !important;
  width: fit-content;
  min-width: 232px;
  display: none;
  z-index: 9999;
}

.dropDown {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 1px solid transparent;
  background: var(--bg-linear-gradient);
  overflow: hidden;
}
.wrap_desc {
  position: absolute;
  width: fit-content;
  white-space: nowrap;
  color: var(--bs-gray-100);
  padding: 4px 12px 6px;
  border-radius: 4px;
  background: var(--bs-gray-700);
  opacity: 0;
  display: none;
  transition: all 0.35s;
}
.list_item {
  position: relative;
  padding: 8px 16px;
  background-color: var(--bs-gray-100);
  border-bottom: 1px solid var(--bs-gray-300);
}
.list_item,
a.list_item,
.list_item a {
  width: 100%;
  height: 48px;
  font-size: 1.4rem;
  color: var(--text-color-4);
  transition: background-color 0.3s ease 0s;
  overflow: hidden;
}

.list_item:hover {
  background-color: var(--bs-gray-200);
  border-bottom: 1px solid var(--bs-gray-400);
}

/*--------------------------------------------------------------
# End General
--------------------------------------------------------------*/

#header.header .rotateBgr::after {
  filter: blur(1px);
}

#header.header .rotateBgrWrap span {
  width: 108%;
  height: 108%;
  background: rgb(255 249 242 / 95%);
}

#header.header .rotateBgrWrap img {
  width: 75%;
  height: 65%;
  top: 50%;
}
.actionTooltip {
  position: relative;
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.flashcards .wrap_desc {
  top: 50%;
  left: -50%;
  transform: translate(-100%, -50%);
}

.flashcards .dropDownWrap {
  position: absolute;
  inset: 0px 0px auto auto;
  transform: translate(22px, 50px);
}

.flashcards .bridgeTop::before {
  left: 84%;
  border-bottom-color: #5fbaff;
}
.prev.wrap_desc,
.seeNotes.wrap_desc,
.seeNotify.wrap_desc {
  left: 50%;
  top: 152%;
  transform: translate(-50%, 1px);
}
.prevLesson .dropDownWrap {
  top: 50px;
  left: -168px;
}
.prevLesson .dropDownWrap::before {
  left: 186px;
  border-bottom-color: #5fbaff;
}
.prevLessonLink img {
  width: 22px;
}

.prevLesson:active .dropDownWrap,
.flashcards:active .dropDownWrap {
  display: flex;
}
.flashcards:hover .wrap_desc,
.prevLesson:hover .prev.wrap_desc,
.myNotes:hover .seeNotes.wrap_desc,
.notify:hover .seeNotify.wrap_desc {
  opacity: 1;
  display: flex;
}

.header_wrap div.container {
  min-width: 360px;
  max-width: 400px;
  background-color: transparent;
  flex: 1 1 auto;
}

div.dropdown {
  position: relative;
}

.navbar-current-user {
  border-radius: 999px;
  transition: background-color 0.3s ease 0s;
  border: 1px solid transparent;
  background: var(--bg-gradient-5);
  user-select: none;
}
.navbar-current-user .wrapper {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0px 16px 0px 0px;
  border-radius: 999px;
  color: var(--text-color-7);
  background-color: var(--bs-white);
  transition: background-color 0.3s ease 0s;
  cursor: pointer;
}
#header.header .wrapper .circle_progress img.avatar {
  width: 92%;
  height: 92%;
}
.navbar-current-user .wrapper .circle_progress {
  margin-left: 4px;
}
.navbar-current-user .arrow img {
  width: 16px;
}

#header.header .header_wrap .navbar .rotateCrown {
  width: 60%;
  height: 60%;
  top: 45%;
}
main {
  width: 100%;
  background-color: var(--bg-2);
  position: fixed !important;
}
.presentationArea {
  --width: 1200px;
  flex: 1;
  width: 77%;
  height: calc(100vh - 68px) !important;
  background: var(--bg-2);
  overflow-y: scroll;
  user-select: none;
}
.videoWrap {
  width: 100%;
  background: #4e5257ba;
  padding: 6px;
}
.videoPlayer {
  position: relative;
  width: 85%;
  max-width: var(--width);
  height: calc(var(--width) / 16 * 9);
  background: #1d1a1a82;
  border-radius: 18px;
  overflow: hidden;
}
.famousBrand {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: auto 0 46px !important;
  background: #00000000;
  transition: all 0.25s ease;
  user-select: none;
}
.overlayContent {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100% !important;
  height: 100% !important;
}
.overlayContent img {
  width: 26%;
  height: auto;
  margin: auto;
  transition: all 0.25s ease;
}
.famousItem {
  content: "";
  position: absolute;
  border-radius: 12px;
  padding: 2px;
  font-size: 18px;
  opacity: 0;
  transition: all 0.3s;
  border: 2px solid transparent;
  background: var(--bg-gradient-4);
  overflow: hidden;
  z-index: 9999;
}
.famousBrand.dpn {
  display: none;
}
#actionSlogans span {
  position: relative;
  width: 100%;
  margin: 0;
  color: #ffffff;
  font-weight: normal;
  background: #ff5f19;
  padding: 4px 8px;
}
#actionSlogans span:first-child {
  padding-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#actionSlogans span:last-child {
  padding-top: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.recommend_slider {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 28%;
  padding: 0 0 16px 0;
  color: #fff;
  box-sizing: content-box;
  background: rgb(47 14 14 / 95%);
  transition: all 0.25s ease;
  overflow: hidden;
  z-index: 999;
}
#videoForwarding > p {
  display: none;
}
.recommend_slider p {
  padding: 8px 0 0 20px;
}
.recommend_slider .Slideshow_wrap {
  display: flex;
  width: 100%;
  height: 70%;
  transform: translate3d(0px, 0, 0);
  user-select: none;
  cursor: pointer;
}
.recommend_slider .Slideshow {
  position: relative;
  display: inline-flex;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  color: #fff;
  border-radius: 10px;
  background: #7e6060;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top 100% center;
  z-index: 9999;
}
.recommended span {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 8px;
  left: 50%;
  font-size: 0.8em;
  min-width: 8rem;
  border-radius: 6px;
  padding: 2px 8px 4px;
  transform: translateX(-50%);
  color: #0900b7;
  background-color: #fffdc3;
  border: 0.25px solid #ff812b;
}
a.recommended span:hover {
  opacity: 0.9;
}

.videoPlayer .learnNow {
  display: flex;
  position: absolute;
  left: 2px;
  bottom: 4px;
  width: 168px;
  height: 42px;
  font-size: 18px;
  color: #50ff4a;
  border-radius: 8px;
  background: var(--primary-color);
  transition: all 0.3s;
  overflow: hidden;
  z-index: 9999;
}
.videoPlayer .learnNow.dpn {
  display: none;
}
.videoPlayer .learnNow svg {
  width: 42px;
}
.videoPlayer .learnNow:hover {
  background: #00f;
  color: #fff300;
  font-size: 24px;
  opacity: 0.95;
}

.logoVideo {
  position: absolute;
  right: 10px;
  bottom: -108px;
  height: 100px;
  opacity: 0;
  transition: all 0.6s ease 0s;
  z-index: 99;
  user-select: none;
}
.logoVideo img {
  width: 42px;
  height: 42px;
  box-shadow: 0 0 0 4px rgba(246, 137, 53, 0.37);
}
.videoPlayer:hover .logoVideo {
  opacity: 1;
  transform: translateY(-100%);
}

.videoInfo {
  --bs-gutter-x: 2.5rem;
  width: 100%;
  padding-top: 16px;
  max-width: var(--width);
}
.lessonDetails {
  width: 85%;
  max-width: var(--width);
  padding-top: 16px;
}
.titleAndAuthorWrap {
  display: flex;
  flex-direction: column;
  max-width: 68%;
  flex: 1 0 auto;
  overflow: hidden;
}
.titleAndAuthor {
  justify-content: space-between;
  max-width: 100%;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: var(--p-color-2);
  line-height: 1.5;
  padding-right: 1.6rem;
}

.titleAndAuthor h2#currentVideoTitle {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--bs-black);
  padding-right: 16px;
  max-width: 600px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.videoTitle {
  max-width: 70%;
}
.authorInfo {
  min-width: max-content;
}
span.author {
  margin-left: 8px;
  margin-bottom: 2px;
  font-size: 1.4rem;
  color: var(--bs-black);
  align-self: flex-end;
}
.authorName {
  color: var(--primary-color);
  font-size: 1.8rem;
}

.titleAndAuthorWrap .updated {
  font-weight: 400;
  font-size: 12px;
  margin-top: 16px;
  padding-left: 1.6rem;
  color: var(--text-color-3);
}

.notes_img,
.bookmark img {
  height: 20px;
  cursor: pointer;
}
.videoNotesBlock {
  flex: 0 0 auto;
  padding: 4px 6px;
  background-color: var(--bg-1);
}
.videoNotesBlock:hover {
  background-color: #f1f3f5;
  cursor: pointer;
}
.videoNotesBlock .currentTime {
  white-space: nowrap;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.6rem;
  text-decoration: none;
  user-select: none;
  background-image: linear-gradient(-45deg, #d000f7, #24bae3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
.lesson_feedback .question {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Nội dung video bằng bài viết: */

.lessonDetails {
  width: 70%;
}
.videoMarker {
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid var(--border-color-2);
}
.excerpt .excerptTitle {
  margin-top: 4px;
  padding: 4px 10px;
  font-size: 1.6rem;
  color: var(--text-color-3);
  border-radius: 4px;
  user-select: none;
}
.excerpt .excerptTitle:hover {
  color: var(--text-color-6);
  border-radius: 2px;
  background-color: var(--bg-5);
  cursor: pointer;
}
.lessonSegment {
  padding-top: 16px;
  padding-bottom: 16px;
}
.generality a {
  color: var(--p-color-4);
  cursor: pointer;
  font-size: 1.6rem;
  line-height: 1.8;
  text-decoration: none;
}

.lessonHeading {
  padding-top: 16px;
  padding-bottom: 16px;
}

.lessonDetails span {
  color: #0e90ec;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.remoteControlArea {
  --bs-gutter-x: 4rem;
  position: fixed;
  left: 0;
  bottom: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  background: #ffffff55;
  backdrop-filter: blur(5px);
  z-index: 999;
}
.remoteControlArea .action {
  flex: 1 1 auto;
}

.actionBtn .like,
.actionBtn .unLike,
.action .bottomNavIcon,
.action .bottomDiscussIcon {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 1px solid transparent;
  background: var(--bg-gradient-4);
  cursor: pointer;
}

.videoControls .controlsBtn {
  min-width: 186px;
  padding: 2px 16px 4px 16px;
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  white-space: nowrap;
  color: var(--primary-color-2);
  transition: all 0.2s;
  border: 2px solid transparent;
  background: var(--bg-gradient-4);
  border-radius: 8px;
  user-select: none;
  cursor: pointer;
}
.videoControls .controlsBtn:hover {
  background: var(--bg-gradient-4);
  opacity: 0.7;
}

.controlsBtn span {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(-45deg, #d000f7, #24bae3);
}

.controlsBtn svg {
  width: 22px;
  flex: 1 0 0;
}
.stopVideo svg {
  width: 28px;
  flex: 1 0 0;
}
.controlsBtn svg.nextLesson {
  transform: rotate(180deg);
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.videoPlaylists {
  width: 23%;
  height: calc(100vh - 118px);
  flex: 0 1 auto;
  background: var(--bs-white);
  overflow-y: scroll;
}

.videoPlaylists .sidebarHeader {
  position: sticky;
  top: 0px;
  padding: 12px 14px;
  background: rgb(240, 248, 255);
  z-index: 99;
}

.sidebarHeader .Search_wrapper {
  flex: 1 1 0%;
  gap: 12px;
  padding: 0;
  align-items: center;
  background-color: var(--bg-2);
  border: 1px solid var(--bs-gray-400);
  border-radius: 8px;
  overflow: hidden;
}
.sidebarHeader .Search_Icon {
  margin-left: 2px;
  flex: 0 0 auto;
}
.sidebarHeader .Search_input {
  background-color: var(--bg-2);
}

.sidebarHeader .bookmark {
  border: none;
  background-color: transparent;
  font-size: 1rem;
  padding: 0px;
  cursor: pointer;
}
.sidebarHeader .bookmark img {
  width: 16px;
}
.sidebarHeader .bookmark span {
  color: rgb(0, 147, 252);
}
.captionWrap {
  position: sticky;
  top: 62px;
  padding: 6px 0;
  background: rgba(240, 248, 255, 0.305);
  backdrop-filter: blur(5px);
  border-top: 1px solid rgba(255, 173, 110, 0.25);
  box-shadow: 0 1px 0 0px rgb(255 173 110 / 23%);
  z-index: 9;
}

div.dropdown > div.caption {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between;
  height: 48px;
  padding: 8px 0 8px 16px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4;
  font-family: sans-serif;
  color: rgba(27, 127, 204, 0.8);
  appearance: none;
  letter-spacing: 0.8px;
  border-radius: 0.5rem;
  -webkit-appearance: none;
  border: 0.5px solid rgb(255 191 254 / 25%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  transition: all 0.2s linear;
  user-select: none;
  cursor: pointer;
}
div.caption .caption_title {
  display: flex !important;
  align-items: center !important;
  justify-content: center;
  width: 100%;
  font-size: 1.6rem;
  color: #ff9757f7;
}
div.dropdown > div.caption .caption_bg {
  position: relative;
  content: "";
  height: 100%;
  width: 40px;
  padding: 18px;
  margin-left: auto;
  background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E);
  background-position: bottom 10px center;
  background-size: 36%;
  background-repeat: no-repeat, repeat;
  z-index: 99;
}

div.dropdown > div.list {
  position: absolute;
  background-color: #f2f2f2;
  width: 100%;
  border-radius: 0 0 6px 6px;
  overflow: hidden;
  overflow-y: auto;
  user-select: none;
  height: 50vh;
  display: none;
}
.dropdown > .list > .optgroup > .item,
div.list > .optgroup > div.option {
  padding: 11px 24px;
  top: 0;
  height: 46px;
  font-size: 1.4rem;
  font-weight: 400;
  color: rgba(27, 127, 204, 0.8);
  cursor: pointer;
  transition: all 0.2s linear;
}
div.dropdown > div.caption:hover {
  color: #ff9757f7;
  box-shadow: 0 0 1px 1px rgba(59, 153, 252, 0.7);
}
.dropdown > .list > .optgroup > .item:not(.option) {
  font-size: 1.6rem;
  font-weight: 600;
  color: #ff9757f7;
  text-transform: uppercase;
  border-bottom: 0.5px solid rgba(255, 208, 157, 0.325);

  cursor: auto;
}
.dropdown > .list > .optgroup .disabled {
  padding: 11px 24px;
  top: 0;
  height: 46px;
  font-size: 1.6rem;
  font-weight: 400;
  background: var(--bs-gray-300);
}
div.dropdown > div.list > .optgroup > div.option:hover {
  outline: none;
  color: #ff9757f7;
  border-color: #aaa;
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  box-shadow: 0 0 1px 0.2px rgba(59, 153, 252, 0.7);
}
div.dropdown.open > div.list {
  display: block;
}

.sidebar_tracks {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item {
  position: sticky;
  top: 72px;
  z-index: 1;
  padding: 8px 16px 8px 20px;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.6;
  color: var(--text-code-color);
  background-color: var(--dark-3);
  backdrop-filter: blur(15px);
  transition: background-color 0.3s ease-out 0s;
  border-bottom: 1px solid var(--border-bottom-color);
  cursor: pointer;
}

.item .quantity {
  color: rgb(128, 139, 154);
  font-weight: 400;
  font-size: 1.2rem;
}

.sidebar_tracks .lesson,
.sidebar_tracks .lessons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  cursor: pointer;
  transition: all 0.35s ease-out 0s;
  user-select: none;
}

.item:hover,
.lesson:hover,
.lesson:active,
.lessons:hover {
  background-color: var(--bg-2);
  color: var(--text-code-color);
}
.lesson.active {
  background-color: #f0910d29;
}
#lessonList .lesson.active .lessonInfo span,
#lessonList .lesson.active .lessonInfo .lessonTitle {
  color: var(--primary-color) !important;
}
.lessonList .icon_right,
.lessonList .lessonContent {
  display: flex;
  align-items: center;
  gap: 8px;
}

.lessonList h4.lessonTitle {
  padding-right: 10px;
  color: rgb(128, 139, 154);
  font-size: 1.4rem;
  font-weight: 400;
}

.lessonContent .icon_left {
  width: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lesson_checked,
.lesson_bookmark {
  width: 10px;
}

.quantity,
.lesson_duration {
  color: rgb(128, 139, 154);
  font-weight: 400;
  font-size: 1.2rem;
}

/* .sidebar_tracks */
.videoPlaylists::-webkit-scrollbar,
.presentationArea::-webkit-scrollbar {
  width: 0px !important;
}
.dpn {
  display: none;
}
