/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
html * {
  scroll-behavior: smooth;
  overscroll-behavior-block: contain !important;
  writing-mode: horizontal-tb;
}
html.dark {
  animation: changeTheme 0.3s linear;
  /* writing-mode: vertical-rl; */
  /* padding-block: 40px;
,
 */
}

html.dark .header,
html.dark .header a.navLogo h2,
html.dark .header .notifyWrap *,
html.dark .searchResult,
html.dark .lessonDetails *,
html.dark .videoPlaylists *,
html.dark .cinemaWrap.contain * {
  color: var(--dark-color);
}

@keyframes changeTheme {
  to {
    opacity: 0.95;
  }
  from {
    opacity: 1;
  }
}
body {
  overflow: hidden;
  background-color: var(--dark-2);
}
.bridgeTop::before,
.bridgeRight::before,
.bridgeBottom::before,
.bridgeLeft::before {
  content: "";
  position: absolute;
  display: block;
  border: 10px solid;
}
.bridgeTop::before {
  top: 0;
  left: 50%;
  transform: translate(-50%, -99%);
  border-bottom-color: var(--bs-gray-700);
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}

.bridgeRight::before {
  top: 50%;
  right: 0;
  transform: translate(99%, -50%);
  border-left-color: var(--bs-gray-700);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
.bridgeBottom::before {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 99%);
  border-bottom-color: transparent;
  border-top-color: var(--bs-gray-700);
  border-right-color: transparent;
  border-left-color: transparent;
}
.bridgeLeft::before {
  top: 50%;
  left: 0;
  transform: translate(-99%, -50%);
  border-bottom-color: transparent;
  border-top-color: transparent;
  border-right-color: var(--bs-gray-700);
  border-left-color: transparent;
}

.dropDownWrap {
  position: absolute;
  width: fit-content;
  min-width: 232px;
  display: none;
  z-index: 9999;
  opacity: 0.5;
  border-radius: 8px;
  border: 1px solid transparent;
  background: var(--bg-gradient-4);
  font-family: var(--font-family) !important;
  transition: all 0.25s ease-in-out;
}
.dropDownWrap.open {
  opacity: 1;
  display: flex !important;
  transition: all 0.25s ease-in-out;
  box-shadow: var(--list-box-shadow-dark);
}
.dropDown {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 1px solid transparent;
  background: var(--bg-linear-gradient);
  overflow: hidden;
}
.wrap_desc {
  position: absolute;
  width: fit-content;
  white-space: nowrap;
  color: var(--bs-gray-100);
  padding: 4px 12px 6px;
  border-radius: 4px;
  background: var(--bs-gray-700);
  opacity: 0;
  display: none;
  transition: all 0.35s;
}
.list_item {
  position: relative;
  padding: 8px 16px;
  background: var(--bg-2);
  border-bottom: 1px solid var(--bs-gray-300);
}
.list_item,
a.list_item,
.list_item a {
  justify-content: start;
  width: 100%;
  height: 48px;
  font-size: 1.4rem;
  color: var(--dark-color, var(--text-color-4));
  transition: background-color 0.3s ease 0s;
  overflow: hidden;
}

.list_item:hover {
  border-bottom: 1px solid var(--bs-gray-400);
  color: #ff9757f7;
  border-color: #aaa;
  background-image: var(--bg-gradient-6, var(--bs-gray-200));
  box-shadow: 0 0 1px 0.2px rgba(59, 153, 252, 0.7);
}

/*--------------------------------------------------------------
# End General
--------------------------------------------------------------*/

#header.header .rotateBgrWrap span {
  width: 108%;
  height: 108%;
  background-color: var(--navbar-button-color, rgb(255 249 242 / 95%));
}
#header.header .rotateBgr::after {
  filter: blur(1px);
}
#header.header .rotateBgrWrap img {
  width: 75%;
  height: 65%;
  top: 50%;
  z-index: 99;
}
#header.header .rotateBgrWrap span:hover,
#header.header .rotateBgrWrap img:hover ~ span {
  background-color: var(--navbar-button-hovered-color) !important;
}

.actionTooltip {
  position: relative;
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.flashcards .wrap_desc {
  top: 50%;
  left: -50%;
  transform: translate(-100%, -50%);
}

.flashcards .dropDownWrap {
  position: absolute;
  inset: 0px 0px auto auto;
  transform: translate(22px, 50px);
}

.flashcards .bridgeTop::before {
  left: 84%;
  border-bottom-color: #5fbaff;
}

.dialogQR.lightBox {
  backdrop-filter: brightness(0.5) blur(5px);
  display: none;
}
.dialogQR.lightBox .lightBoxContent {
  max-width: 568px;
  max-height: 600px;
  min-height: 500px;
  margin: auto;
  padding: 28px;
  border-radius: 1rem;
  box-shadow: 0 1px 60px 1px #3b98fcf1;
}
.dialogQR .dialogTitle {
  padding: 24px 32px 0;
  color: var(--bs-cyan, --text-color) !important;
}
.dialogQR .dialogDesc {
  padding: 12px 32px 0;
  text-align: left;
  color: var(--bs-cyan, --text-color) !important;
}
.dialogQR .imgQR {
  position: absolute;
  inset: 0;
  width: fit-content;
  height: fit-content;
  margin: auto;
}
.dialogContent .btn {
  position: absolute;
  right: 40px;
  bottom: 32px;
  max-width: 150px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border: 2px solid #f04f2345;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(-45deg, #d000f7, #24bae3);
}
.dialogContent .closeQR.btn:hover {
  opacity: 0.9;
  border: 2px solid #f04f2386;
}
.prev.wrap_desc,
.seeNotes.wrap_desc,
.seeNotify.wrap_desc {
  left: 50%;
  top: 152%;
  transform: translate(-50%, 1px);
}
.prevLesson .dropDownWrap {
  top: 50px;
  left: -170px;
}
.prevLesson .dropDownWrap::before {
  left: 186px;
  border-bottom-color: #5fbaff;
}
.prevLessonLink img {
  width: 22px;
}
.myNoteWrap {
  opacity: 0;
  visibility: hidden;
  background: #9e9e9e42;
  transform: translateX(100%);
  transition: all 0.3s linear;
}

.myNoteContainer {
  opacity: 0;
  min-width: 600px;
  width: 40%;
  height: 100vh;
  margin-left: auto !important;
  transition: all 0.3s linear;
  z-index: 9999999999 !important;
}

.myNoteHeard {
  z-index: 2;
  padding: 20px 20px 15px 32px;
  margin-bottom: 16px;
  background-color: var(--bg-white-1);
  box-sizing: border-box;
}
.selectNote {
  position: relative;
  top: 0;
  left: 0;
  height: 38px;
  border-radius: 8px;
  background-color: var(--bg-2);
  border: 2px solid var(--bg-3);
  user-select: none;
  cursor: pointer;
  background: linear-gradient(147deg, transparent, #32353b);
  background: var(--bg-gradient-dark-4);
  box-shadow: var(--box-shadow-inset-dark);
}

.listTitle {
  width: 100%;
  margin: 0;
  padding: 8px 0 8px 18px;
}
.selectNote .note_List {
  padding-top: 3px;
  padding-bottom: 3px;
}
.myNoteMenu .drop_DownWrap {
  position: absolute;
  display: none;
}
.myNoteMenu .drop_DownWrap.open {
  display: flex;
}

.myNoteMenu .selectTime,
.myNoteMenu .selectName {
  top: 150%;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  min-width: 252px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 16px;
}

.selectWrap {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  /* color: currentColor; */
}
.selectNote .bridgeTop::before {
  border-bottom-color: #c1bfca91;
}
.selectNote svg {
  padding: 6px;
  width: 30px;
  margin-right: 4px;
  margin-left: 4px;
  border-radius: 4px;
}

.selectNote li.list_item {
  height: 40px;
  width: 100%;
  padding: 8px 16px 10px 28px;
  font-size: 1.4rem;
  color: var(--light-when-dark, var(--text-color-6));
  border-bottom: 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 1px 0.1px;
  transition: all 0.3s linear;
}
.noteClose {
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid transparent;
}

img.noteClose:hover,
.selectNote li.list_item:hover {
  outline: none;
  color: #ff9757f7;
  border-color: #aaa;
  background: var(--bg-gradient-6, linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%));
  box-shadow: 0 0 1px 0.2px rgba(59, 153, 252, 0.7);
}
.selectNote:hover svg,
.selectNote:hover .arrowDown,
.selectNote:hover .listTitle {
  color: #ff9757f7;
  opacity: 0.8;
  transition: all 0.25s;
}
.selectNote:has(.open) > .arrowDown {
  animation: 0.25s linear 0s 1 normal forwards running arrowRotate;
}
.notContent img {
  width: 100%;
  padding: 16rem 6rem 6rem;
}
.notContentDesc {
  font-size: 26px;
}

.yourNotify.dropDownWrap {
  top: 50px;
  left: 50%;
  min-width: 396px;
  transform: translateX(-50%);
  z-index: 9999;
  display: none;
}

.notify .bridgeTop::before {
  border-bottom-color: #5fbcff !important;
}
.notifyHeard {
  width: 100%;
  padding: 8px 16px;
  margin-bottom: 1px;
  background-color: var(--bg-4);
  user-select: none;
}
.notifyTitle {
  margin: 0px;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--text-code-color);
  font-family: var(--font-family);
}
.notifyBtn {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 24px;
  color: rgb(0, 147, 252);
  font-family: var(--font-family);
  cursor: pointer;
  user-select: none;
}
.notifyList {
  max-width: 460px;
  max-height: 450px;
  background-color: var(--dark-2);
  overflow: hidden;
  overflow-y: overlay;
}

.notifyList::-webkit-scrollbar {
  width: 1px;
}

.notifyList .list_item {
  position: relative;
  padding: 10px 16px;
  margin-bottom: 1px;
  height: auto;
  background-color: var(--dark-3);
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s linear;
  border-bottom: 0;
  box-shadow: 0 0 0.6px 0.1px rgba(59, 153, 252, 0.5);
}
.notifyList .list_item:hover {
  background: var(--bg-gradient-dark, #f0910d29);
  box-shadow: 0 0 1px 0.5px var(--bs-gray-dark, var(--primary-color-2));
  transition: all 0.3s linear;
}
.notifyList .list_item:hover * {
  color: var(--color-dark-active, var(--primary-color)) !important;
  transition: color 0.3s linear;
}

.userAvatar {
  position: relative;
  top: 0;
  left: 0;
}
.avatar {
  width: 38px;
  height: 38px;
  margin-right: 8px;
  overflow: clip;
  object-fit: cover;
  border-radius: 9999px;
}
.fallback {
  position: absolute;
  right: 4px;
  bottom: -2px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  padding: 2px;
  background: red;
  border-radius: 99px;
}
.fallback img {
  width: 16px;
}
.fallback svg {
  width: 12px;
  color: #fff;
  overflow: clip;
  object-fit: cover;
  translate: 0px 1px;
  border-radius: 999px;
}
.noticeInfo {
}
.content {
  padding-right: 8px;
  margin-bottom: 8px;
}
.arrow,
.name {
  color: rgb(0, 147, 252);
}
.name.lessons {
  color: #4e586b;
  color: var(--light-when-dark);
  font-size: 1.3rem;
}
.message {
  color: #4e586b;
}
.message strong {
  color: #2e3441;
}
.noticeTime {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 16px;
  color: rgb(128, 139, 154);
  font-family: var(--font-family);
}

.dialogQR.lightBox.open,
.prevLesson > .dropDownWrap.open,
.flashcards > .dropDownWrap.open {
  box-shadow: var(--list-box-shadow-dark);
  opacity: 1;
  display: block;
}
.dialogQR.lightBox.open {
  background: rgba(0 0 0 / 80%);
}
.myNotes {
  position: relative;
}
.myNoteWrap.open {
  opacity: 1;
  visibility: visible;
  transform: translateX(0%);
}
.myNoteWrap.open .myNoteContainer {
  opacity: 1;
  background: var(--bg-white-dark-1, #fff);
  position: absolute;
}

.flashcards:hover .wrap_desc,
.prevLesson:hover .prev.wrap_desc,
.myNotes:hover .seeNotes.wrap_desc,
.notify:hover .seeNotify.wrap_desc {
  opacity: 1;
  display: flex;
}

.header_wrap div.container {
  min-width: 360px;
  max-width: 400px;
  background-color: transparent;
  flex: 1 1 auto;
}

div.dropdown {
  position: relative;
}

.navbar-current-user {
  border-radius: 999px;
  transition: background-color 0.3s ease 0s;
  border: 1px solid transparent;
  background: var(--bg-gradient-5);
  user-select: none;
}
.navbar-current-user .wrapper {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0px 16px 0px 0px;
  border-radius: 999px;
  color: var(--text-color-7);
  background-color: var(--navbar-button-color, var(--bs-white));
  transition: background-color 0.3s ease 0s;
  cursor: pointer;
}
#header.header .wrapper .circle_progress img.avatar {
  width: 92%;
  height: 92%;
}
.navbar-current-user .wrapper .circle_progress {
  margin-left: 4px;
}
.navbar-current-user .arrow svg {
  width: 18px;
}
.navbar-current-user .dropDownWrap {
  top: 60px;
  left: -80%;
  min-width: 316px;
  background: #32353b;
  padding: 0;
  border-radius: 12px;
  background: var(--bg-gradient-dark-4, var(--bg-gradient-4));
  box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 16px;
  display: none;
}

.chooseAction,
.yourAccount {
  flex: 1 0 320px;
}
.navbar-current-user .dropDownWrap p {
  margin: 0;
  padding: 6px 6px 6px 16px;
  width: 100%;
  background: var(--bs-dark);
}
.chooseAction p,
.yourAccount p,
.list_item a {
  color: var(--color-dark-link);
}
.chooseAction .displaySelection .changeTheme {
  display: none;
}
.chooseAction .displaySelection .changeTheme.open {
  display: flex;
}

.yourAccount .list li:last-child {
  padding-left: 14px;
}

.navbar-current-user .dropDownWrap ul {
  width: 100%;
}
.navbar-current-user .dropDownWrap::before {
  border-bottom-color: #5fbaff;
}

.navbar-current-user .dropDownWrap ul li {
  justify-content: start;
  padding-left: 32px;
  width: 100%;
  min-height: 52px;
  font-size: 1.6rem;
  border: none;
  box-shadow: var(--box-shadow-dark-2);
}

.navbar-current-user .dropDownWrap ul li svg {
  width: 20px;
}
.navbar-current-user .dropDownWrap.open {
  box-shadow: var(--list-box-shadow-dark);
  display: block;
}
.navbar-current-user:has(.dropDownWrap.open) .arrow {
  animation: arrowRotate 0.25s linear forwards;
}
.navbar-current-user .arrow {
  transition: animation 0.5s linear;
}

.navbar-current-user .wrapper:hover {
  color: var(--primary-color);
  background-color: var(--navbar-button-hovered-color) !important;
}
.navbar-current-user .wrapper:hover .arrow,
.navbar-current-user .wrapper:hover .name {
  color: var(--primary-color);
}
.darkFace svg,
.lightFace svg {
  width: 20px;
}
span.symbol {
  font-size: 1.8rem;
}
li.darkFace {
  display: none;
}
li.darkFace span.symbol {
  font-size: 20px;
}
@keyframes arrowRotate {
  100% {
    transform: rotate(180deg);
  }
}

#header.header .header_wrap .navbar .rotateCrown {
  width: 60%;
  height: 60%;
  top: 45%;
}
main {
  width: 100%;
  background-color: var(--bg-2);
  position: fixed !important;
  user-select: none;
}
.presentationArea {
  --width: 1200px;
  flex: 1;
  width: 77%;
  margin-top: -70px;
  padding-bottom: 50px;
  height: 100vh;
  background: var(--bg-2);
  overflow-y: scroll;
  user-select: none;
}
.videoWrap {
  width: 100%;
  padding-top: 70px;
  background-color: var(--bg-4, rgba(211, 212, 213, 0.73));
}
.videoPlayer {
  position: relative;
  width: 85%;
  max-width: var(--width);
  height: calc((var(--width) / 16) * 9);
  aspect-ratio: 16/9;
  background: transparent;
  border-radius: 10px;
  object-fit: cover;
  overflow: hidden;
}
.famousBrand {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: auto 0 46px !important;
  background: #00000000;
  transition: all 0.25s ease;
  user-select: none;
  z-index: 9;
}
div#famousBrand {
  --w-curtain: 50%;
}
div#famousBrand::before,
div#famousBrand::after {
  top: 40px;
  content: "";
  height: 111%;
  position: absolute;
  width: var(--w-curtain);
  background-image: url(../img/family/curtainrap.svg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 9999;
  transition: all 1.5s linear;
}
div#famousBrand::before {
  left: 0;
}
div#famousBrand::after {
  right: 0;
}
div#famousBrand.toggle {
  --w-curtain: 0;
}

.overlayContent {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100% !important;
  height: 100% !important;
}
.overlayContent img {
  position: absolute;
  inset: 0;
  width: 26%;
  height: auto;
  margin: auto;
  transition: all 0.25s ease;
  z-index: 99999;
  cursor: pointer;
}
.famousItem {
  content: "";
  position: absolute;
  border-radius: 12px;
  padding: 2px;
  font-size: 18px;
  opacity: 0;
  transition: all 0.3s;
  border: 2px solid transparent;
  background: var(--bg-gradient-4);
  overflow: hidden;
  z-index: 9999;
}
.famousBrand.dpn {
  display: none;
}
#actionSlogans span {
  position: relative;
  width: 100%;
  margin: 0;
  color: #ffffff;
  font-weight: normal;
  background: #ff5f19;
  padding: 4px 8px;
}
#actionSlogans span:first-child {
  padding-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#actionSlogans span:last-child {
  padding-top: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.recommend_slider {
  position: absolute;
  bottom: 0;
  width: 98%;
  height: 28%;
  padding: 0 1% 16px;
  color: #fff;
  box-sizing: content-box;
  background: rgb(47 14 14 / 95%);
  transition: all 0.25s ease;
  overflow: hidden;
  z-index: 999;
}
#videoForwarding > p {
  display: none;
}
.recommend_slider p {
  padding: 8px 0 0 20px;
}
.recommend_slider .Slideshow_wrap {
  display: flex;
  width: 100%;
  height: 70%;
  transform: translate3d(0px, 0, 0);
  user-select: none;
  cursor: pointer;
}
.recommend_slider .Slideshow {
  position: relative;
  display: inline-flex;
  flex: 1 1 auto;
  width: 24%;
  height: 100%;
  color: #fff;
  border-radius: 10px;
  background: #7e6060;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top 100% center;
  z-index: 9999;
}
.recommended span {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 8px;
  left: 50%;
  font-size: 0.8em;
  min-width: 8rem;
  border-radius: 6px;
  padding: 2px 8px 4px;
  transform: translateX(-50%);
  color: #0900b7 !important;
  background-color: #fffdc3;
  border: 0.25px solid #ff812b;
}
a.recommended span:hover {
  opacity: 0.9;
}
.preLoadBlock {
  position: absolute;
  bottom: 28%;
  margin: auto;
  z-index: 9999999;
  width: 200px;
  text-align: center;
  background: #66666626;
  border-radius: 8px;
  backdrop-filter: blur(5px);
  display: none;
}
.videoPlayer .learnNow {
  display: flex;
  position: absolute;
  bottom: 30%;
  width: 168px;
  height: 42px;
  font-size: 18px;
  color: #50ff4a;
  border-radius: 8px;
  background: var(--primary-color);
  transition: all 0.3s;
  overflow: hidden;
  user-select: none;
  z-index: 9999;
}
.videoPlayer .learnNow.dpn {
  display: none;
}
.videoPlayer .learnNow svg {
  width: 42px;
}
.videoPlayer .learnNow:hover {
  justify-content: center;
  padding-right: 10px;
  padding-left: 14px;
  opacity: 0.95;
  font-size: 22px;
  color: #fff300;
  text-align: center;
  background: #00f;
  gap: 6px !important;
}

.logoVideo {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 42px;
  height: 42px;
  user-select: none;
  visibility: hidden;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  transition: all 0.25s;
  cursor: pointer;
  z-index: 99;
}
.logoVideo img {
  width: 42px;
  height: 42px;
  box-shadow: 0 0 0 2px rgba(246, 137, 53, 0.57);
}
@keyframes fade_left {
  100% {
    visibility: visible;
  }
}
.videoPlayer:hover .logoVideo {
  height: 84px;
  z-index: 99;
}
.videoPlayer #famousBrand:hover ~ .logoVideo {
  height: 46px;
}

.videoInfo {
  --bs-gutter-x: 2.5rem;
  width: 85%;
  padding-top: 16px;
  max-width: var(--width);
}
.lessonDetails {
  width: 85%;
  max-width: var(--width);
  padding-top: 16px;
}
.titleAndAuthorWrap {
  display: flex;
  flex-direction: column;
  max-width: 68%;
  flex: 1 0 auto;
  overflow: hidden;
}
.titleAndAuthor {
  justify-content: space-between;
  max-width: 100%;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: var(--p-color-2);
  line-height: 1.5;
  padding-right: 1.6rem;
}

.titleAndAuthor h2#currentVideoTitle {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--bs-black);
  color: var(--light-when-dark);
  padding-right: 16px;
  max-width: 600px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.videoTitle {
  max-width: 70%;
}
.authorInfo {
  min-width: max-content;
}
span.author {
  margin-left: 8px;
  margin-bottom: 2px;
  font-size: 1.4rem;
  color: var(--bs-black);
  align-self: flex-end;
}
.authorName {
  margin-left: 8px;
  color: var(--primary-color) !important;
  font-size: 1.8rem;
}
.titleAndAuthorWrap .updated {
  font-weight: 400;
  font-size: 12px;
  margin-top: 16px;
  padding-left: 1.6rem;
  color: var(--text-color-3);
}

.notes_img,
.bookmark img {
  height: 20px;
  cursor: pointer;
}
.videoNotesBlock {
  flex: 0 0 auto;
  padding: 4px 6px;
  border-radius: 4px;
  background-color: var(--bg-1);
  overflow: hidden;
}
.videoNotesBlock:hover {
  background-color: var(--navbar-button-hovered-color) !important;
  cursor: pointer;
}
.videoNotesBlock .currentTime {
  white-space: nowrap;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.6rem;
  text-decoration: none;
  user-select: none;
  background-image: linear-gradient(-45deg, #d000f7, #24bae3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
.currentTime .cur {
  flex: 0 0 auto;
  width: 18px;
}

.lesson_feedback .question {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Nội dung video bằng bài viết: */

.lessonDetails {
  width: 70%;
}
.videoMarker {
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid var(--border-color-2);
}
.excerpt .excerptTitle {
  margin-top: 4px;
  padding: 4px 10px;
  font-size: 1.6rem;
  color: var(--text-color-3);
  border-radius: 4px;
  user-select: none;
}
.excerpt .excerptTitle:hover {
  color: var(--text-color-6);
  color: var(--light-when-dark);
  border-radius: 2px;
  background-color: var(--bg-5);
  cursor: pointer;
}
.lessonSegment {
  padding-top: 16px;
  padding-bottom: 16px;
}
.generality a {
  color: var(--p-color-4);
  cursor: pointer;
  font-size: 1.6rem;
  line-height: 1.8;
  text-decoration: none;
}

.lessonHeading {
  padding-top: 16px;
  padding-bottom: 16px;
}

.lessonDetails span {
  color: #0e90ec;
}

.remoteControlArea {
  --bs-gutter-x: 4rem;
  position: fixed;
  left: 0;
  bottom: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  background: var(--bs-gray-dark, #ffffff55);
  box-shadow: 1px 1px 2px 0.5px var(--bs-pink);
  backdrop-filter: blur(15px);
  z-index: 999;
}
.remoteControlArea .action {
  flex: 1 1 auto;
}

.actionBtn .like,
.actionBtn .unLike,
.action .bottomNavIcon,
.action .bottomDiscussIcon {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 1px solid transparent;
  background: var(--bg-gradient-dark-4, var(--bg-gradient-4));
  cursor: pointer;
}

.menuOpen,
.arrowOpen {
  display: none;
}
.menuOpen.open,
.arrowOpen.open {
  display: block;
}
img.actionFocus {
  padding: 12px;
}
img.actionFocus:last-child {
  width: 40px;
}

.actionBtn .like:hover,
.actionBtn .unLike:hover,
.action .bottomNavIcon:hover,
.action .bottomDiscussIcon:hover {
  opacity: 0.8;
}
.videoControls .controlsBtn {
  min-width: 186px;
  padding: 2px 16px 4px 16px;
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  white-space: nowrap;
  color: var(--primary-color-2);
  transition: all 0.2s;
  border: 2px solid transparent;
  background: var(--bg-gradient-dark-4, var(--bg-gradient-4));
  border-radius: 8px;
  user-select: none;
  cursor: pointer;
}
.videoControls .controlsBtn:hover {
  background: var(--bg-gradient-dark-4, var(--bg-gradient-4));
  opacity: 0.7;
}

.controlsBtn span {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(-45deg, #d000f7, #24bae3);
}

.controlsBtn svg {
  width: 22px;
  flex: 1 0 0;
}
.stopVideo svg {
  width: 28px;
  flex: 1 0 0;
}
.controlsBtn svg.nextLesson {
  transform: rotate(180deg);
}
.videoPlaylists.dpns {
  width: 0;
  visibility: hidden;
  opacity: 0;
  -moz-transition: opacity 1s, visibility 1.3s;
  -webkit-transition: opacity 1s, visibility 1.3s;
  -o-transition: opacity 1s, visibility 1.3s;
  transition: all 0.3s;
}
.videoPlaylists {
  width: 23%;
  height: calc(100vh - 118px);
  flex: 0 1 auto;
  background: var(--bg-2-dark, whitesmoke);
  box-shadow: var(--box-shadow-dark-1);
  overflow-y: scroll;
  visibility: visible;
  opacity: 1;
  -moz-transition: opacity 1s, visibility 1.3s;
  -webkit-transition: opacity 1s, visibility 1.3s;
  -o-transition: opacity 1s, visibility 1.3s;
  transition: all 0.3s;
}

.videoPlaylists .sidebarHeader {
  position: sticky;
  top: 0px;
  padding: 12px 14px;
  background-color: var(--dark-3, rgb(240, 248, 255));
  z-index: 9999999;
}

.sidebarHeader .Search_wrapper {
  flex: 1 1 0%;
  gap: 4px;
  padding: 0;
  align-items: center;
  background-color: var(--bg-2);
  border: 1px solid var(--bs-gray-400);
  border-radius: 8px;
  overflow: hidden;
}
.sidebarHeader .Search_Icon {
  margin-left: 2px;
  margin-top: 1px;
  flex: 0 0 auto;
  cursor: pointer;
  color: var(--light-when-dark, #333);
  background-color: var(--bg-2);
  background-image: url("");
}
.sidebarHeader .Search_Icon svg {
  width: 20px;
}

.sidebarHeader .Search_input {
  background-color: var(--bg-2);
}

.resultWrap {
  position: absolute;
  inset: 0;
  background: transparent;
  z-index: 999999;
  display: none;
}
.searchResult {
  position: absolute;
  inset: 68px 20% auto auto;
  width: 450px;
  max-height: 50%;
  border-top: 38px solid transparent;
  border-bottom: 38px solid transparent;
  border-radius: 12px;
  background: var(--bg-2-dark, var(--bg-5));
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: var(--list-box-shadow-dark, --box-shadow-light);
  z-index: 999999;
}
.searchResult p {
  padding: 8px 32px;
  margin: 0;
  box-shadow: inset rgb(83 68 40 / 20%) 0px 0px 01px 0.1px;
}
.searchResult p:hover {
  color: #ff9757f7;
  border-color: #aaa;
  background: var(--bg-gradient-6);
  box-shadow: 0 0 1px 0.2px rgba(59, 153, 252, 0.7);
}
.searchResult::-webkit-scrollbar {
  width: 1px;
}
.searchResult::-webkit-scrollbar-thumb {
  background-color: #fffed7;
  border-radius: 88px;
  border: none;
}
.sidebarHeader .bookmark {
  border: none;
  background-color: transparent;
  font-size: 1rem;
  padding: 0px;
  cursor: pointer;
}
.sidebarHeader .bookmark img {
  width: 16px;
}
.sidebarHeader .bookmark span {
  color: rgb(0, 147, 252);
}

.captionWrap {
  position: sticky;
  top: 66px;
  padding: 6px 0;
  background: rgba(240, 248, 255, 0.305);
  background-color: var(--dark-3);
  backdrop-filter: blur(5px);
  border-top: 1px solid rgba(255, 173, 110, 0.25);
  box-shadow: 0 1px 0 0px rgb(255 173 110 / 23%);
  z-index: 9;
}

div.dropdown > div.caption {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between;
  height: 48px;
  padding: 8px 0 8px 16px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4;
  font-family: sans-serif;
  color: rgba(27, 127, 204, 0.8);
  appearance: none;
  letter-spacing: 0.8px;
  border-radius: 0.5rem;
  -webkit-appearance: none;
  border: 0.5px solid rgb(255 191 254 / 25%);
  background-image: var(--bg-gradient-6);
  background-color: var(--dark-3);
  transition: all 0.2s linear;
  user-select: none;
  cursor: pointer;
}
div.caption .caption_title {
  display: flex !important;
  align-items: center !important;
  justify-content: center;
  width: 88%;
  font-size: 1.6rem;
  color: #ff9757f7;
}
div.dropdown > div.caption .caption_bg,
div.dropdown > div.caption .caption_close {
  position: absolute;
  right: 8px;
  content: "";
  height: 31%;
  width: 40px;
  margin-left: auto;
  background-position: bottom 0px center;
  background-size: 36%;
  background-repeat: no-repeat;
  z-index: 9;
}
div.dropdown > div.caption .caption_bg {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
}

div.dropdown > div.caption .caption_close {
  background-image: url(../img/clients/closeSvg.svg);
  display: none;
}
div.dropdown.toggle > div.caption .caption_close {
  display: block;
}
div.dropdown.toggle > div.caption .caption_bg {
  display: none;
}
div.dropdown > div.list {
  position: absolute;
  top: 58px;
  width: 100%;
  height: 52vh;
  display: none;
  overflow: hidden;
  overflow-y: auto;
  user-select: none;
  border-radius: 0 0 6px 6px;
  border: 2px solid transparent;
  background-color: var(--dark-2);
  background: var(--bg-gradient-5-dark, var(--bg-gradient-4));
  overscroll-behavior-block: contain !important;
  box-shadow: var(--list-box-shadow-dark);
}
div.dropdown > div.list::-webkit-scrollbar {
  width: 2px !important;
}
div.dropdown > div.list::-webkit-scrollbar-thumb {
  background: rgb(43, 255, 0) !important;
  border: none !important;
  border-radius: 4px;
}
.dropdown > .list > .optgroup > .item,
div.list > .optgroup > div.option {
  padding: 18px 24px;
  top: 0;
  height: auto;
  font-size: 1.6rem;
  font-weight: 400;
  color: rgba(27, 127, 204, 0.8);
  background: var(--bg-list);
  border: none;
  cursor: pointer;
  transition: all 0.2s linear;
  box-shadow: var(--box-shadow-dark);
}
div.dropdown > div.caption:hover {
  color: #ff9757f7;
  box-shadow: 0 0 1px 1px rgba(59, 153, 252, 0.7);
}
.dropdown > .list > .optgroup > .item:not(.option) {
  font-size: 1.6rem;
  font-weight: 600;
  color: #ff9757f7;
  text-transform: uppercase;
  border-bottom: 0.5px solid rgba(255, 208, 157, 0.325);
  background: var(--bg-list);
  cursor: auto;
}
.optgroup > .item:not(.option):hover {
  background-color: #f2f2f2;
  background-color: var(--dark-3);
}
.dropdown > .list > .optgroup .disabled {
  padding: 11px 24px;
  height: 46px;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--text-color-4);
  background: var(--bs-disabled);
  opacity: 1;
}
div.dropdown > div.list > .optgroup > div.option:hover {
  outline: none;
  color: #ff9757f7;
  border-color: #aaa;
  background-image: var(--bg-gradient-6);
  box-shadow: 0 0 1px 0.2px rgba(59, 153, 252, 0.7);
}
div.dropdown.toggle > div.list {
  display: block;
}

.sidebar_tracks {
  display: flex;
  flex-direction: column;
  justify-content: start;
  /* top: 0;
  overflow-y: scroll; */
}

.item {
  position: sticky;
  top: 72px;
  z-index: 1;
  padding: 8px 16px 8px 20px;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.6;
  color: var(--text-code-color);
  background-color: var(--dark-3);
  backdrop-filter: blur(15px);
  transition: background-color 0.3s ease-out 0s;
  border-bottom: 1px solid var(--border-bottom-color);
  cursor: pointer;
}

.item .quantity {
  color: rgb(128, 139, 154);
  font-weight: 400;
  font-size: 1.2rem;
}

.sidebar_tracks .lesson,
.sidebar_tracks .lessons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  cursor: pointer;
  transition: all 0.35s ease-out 0s;
  box-shadow: var(--box-shadow-dark-1, #ddd);
  user-select: none;
}

.item:hover,
.lesson:hover,
.lesson:hover,
.lesson:active,
.lessons:hover {
  background-color: var(--bg-hover-dark, var(--bg-5));
  color: var(--color-dark-active, var(--text-code-color)) !important;
}
.lesson:hover h4.lessonTitle {
  color: var(--color-dark-active, var(--text-code-color)) !important;
}

.lesson.active {
  background: var(--bg-gradient-dark, #f0910d29);
  box-shadow: 0 0 1px 0.6px var(--bs-dark, var(--primary-color-2));
}
#lessonList .lesson.active .lessonInfo span,
#lessonList .lesson.active .lessonInfo .lessonTitle {
  color: var(--color-dark-active, var(--primary-color)) !important;
}
.lessonList .icon_right,
.lessonList .lessonContent {
  display: flex;
  align-items: center;
  gap: 8px;
}
.lessonList > p {
  margin: 0;
}
.lessonList h4.lessonTitle {
  padding-right: 10px;
  color: var(--dark-color, rgb(128, 139, 154));
  font-size: 1.4rem;
  font-weight: 400;
}

.lessonContent .icon_left {
  width: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lesson_checked,
.lesson_bookmark {
  width: 10px;
}

.quantity,
.lesson_duration {
  color: rgb(128, 139, 154) !important;
  font-weight: 400;
  font-size: 1.2rem;
}

.videoPlaylists::-webkit-scrollbar,
.presentationArea::-webkit-scrollbar {
  width: 0px !important;
}

/* .dpn {
  display: none !important;
}
.dpf {
  display: flex !important;
} */
